USE [master]
GO
/****** Object:  Database [CBTVinylsDW]    Script Date: 2/12/2021 2:40:41 PM ******/
CREATE DATABASE [CBTVinylsDW]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CBTVinylsDW', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SEASERVER\MSSQL\DATA\CBTVinylsDW.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CBTVinylsDW_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SEASERVER\MSSQL\DATA\CBTVinylsDW_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CBTVinylsDW].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CBTVinylsDW]
GO
USE [CBTVinylsDW]
GO
/****** Object:  Table [dbo].[DimCustomers]    Script Date: 2/12/2021 2:40:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimCustomers](
	[customerId] [int] NOT NULL,
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
 CONSTRAINT [PK_DimCustomers] PRIMARY KEY CLUSTERED 
(
	[customerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimDates]    Script Date: 2/12/2021 2:40:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimDates](
	[dateKey] [int] NOT NULL,
	[fullDate] [date] NULL,
	[day] [tinyint] NULL,
	[week] [tinyint] NULL,
	[year] [smallint] NULL,
	[quarter] [tinyint] NULL,
 CONSTRAINT [PK_DimDates] PRIMARY KEY CLUSTERED 
(
	[dateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimLocations]    Script Date: 2/12/2021 2:40:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimLocations](
	[locationId] [int] NOT NULL,
	[storeId] [int] NULL,
	[zone] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[continent] [nvarchar](50) NULL,
 CONSTRAINT [PK_DimLocations] PRIMARY KEY CLUSTERED 
(
	[locationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DimProducts]    Script Date: 2/12/2021 2:40:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimProducts](
	[productId] [int] NOT NULL,
	[albumId] [int] NULL,
	[albumName] [nvarchar](255) NULL,
	[artist] [nvarchar](255) NULL,
	[year] [smallint] NULL,
	[imgURL] [nvarchar](255) NULL,
 CONSTRAINT [PK_DimProduct] PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FactSales]    Script Date: 2/12/2021 2:40:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FactSales](
	[saleId] [int] NOT NULL,
	[productId] [int] NULL,
	[customerId] [int] NULL,
	[locationId] [int] NULL,
	[dateId] [int] NULL,
	[price] [float] NULL,
	[date] [date] NULL,
 CONSTRAINT [PK_FactSales] PRIMARY KEY CLUSTERED 
(
	[saleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
